

/* ---- DSA RED --------------- */

.dsa-red-tint-0 {
    background: #EC1F27;
}

.dsa-red-tint-1 {
    background: #F04C53;
}

.dsa-red-tint-2 {
    background: #F4797E;
}

.dsa-red-tint-3 {
    background: #F7A5A9;
}

.dsa-red-tint-4 {
    background: #FBD2D4;
}



/* ---- DSA BLACK ------------- */

.dsa-black-tint-0 {
    background: #231F20;
}

.dsa-black-tint-1 {
    background: #3B3838;
}

.dsa-black-tint-2 {
    background: #605C5C;
}

.dsa-black-tint-3 {
    background: #8C8989;
}

.dsa-black-tint-4 {
    background: #C1C0BF;
}